@font-face {
  font-family: "CeraPRO-Light";
  src: url("../fonts/CeraPRO-Light/CeraPRO-Light.eot");
  src: url("../fonts/CeraPRO-Light/CeraPRO-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CeraPRO-Light/CeraPRO-Light.woff") format("woff"),
  url("../fonts/CeraPRO-Light/CeraPRO-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "CeraPRO-Regular";
  src: url("../fonts/CeraPRO-Regular/CeraPRO-Regular.eot");
  src: url("../fonts/CeraPRO-Regular/CeraPRO-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CeraPRO-Regular/CeraPRO-Regular.woff") format("woff"),
  url("../fonts/CeraPRO-Regular/CeraPRO-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "CeraPRO-Medium";
  src: url("../fonts/CeraPRO-Medium/CeraPRO-Medium.eot");
  src: url("../fonts/CeraPRO-Medium/CeraPRO-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CeraPRO-Medium/CeraPRO-Medium.woff") format("woff"),
  url("../fonts/CeraPRO-Medium/CeraPRO-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "CeraPRO-Bold";
  src: url("../fonts/CeraPRO-Bold/CeraPRO-Bold.eot");
  src: url("../fonts/CeraPRO-Bold/CeraPRO-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CeraPRO-Bold/CeraPRO-Bold.woff") format("woff"),
  url("../fonts/CeraPRO-Bold/CeraPRO-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: "FuturaPT-Bold";
  src: url("../fonts/FuturaPT-Bold/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/FuturaPT-Bold/FuturaPT-Bold.woff") format("woff"),
  url("../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; //обязательно
}


