 /*--- main-screen ---*/

 .main-screen{
   position: relative;
   padding-top: 110px;
   padding-bottom: 60px;
   background-color: $color-blue;
   color: $color-white;
   overflow: hidden;

   .bg-image{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1;
     background-position: top center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.1;
   }

   /*&:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: $color-light-blue;
     opacity: 0.5;
     z-index: 2;
   }*/

   .pulse-line{
     position: absolute;
     left: 285px;
     bottom: -25px;
     z-index: 2;
     width: 255px;
     height: auto;

     @media(max-width: 767px){
       width: 178px;
       left: 40px;
     }

     @media(max-width: 575px){
      display: none;
     }
   }

   .container{
     position: relative;
     z-index: 5;
   }

   .content{
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;

     @media(max-width: 767px){
      flex-wrap: wrap;
       justify-content: center;
     }

     &:before,
     &:after{
       content: '';
       position: absolute;
       z-index: 3;
       height: 3px;
       background-color: $color-green;
       bottom: 52px;
       width: 100vw;

       @media(max-width: 767px){
         bottom: 29px;
         height: 2px;
       }

       @media(max-width: 575px){
        display: none;
       }
     }

     &:before{
       /*left: -1760px;*/
       right: 662px;

       @media(max-width: 1200px){
         right: 673px;
       }

       @media(max-width: 767px){
         right: 495px;
       }
     }

     &:after{
       /*right: -1760px;*/
       left: 800px;

       @media(max-width: 992px){
         left: 640px;
       }

       @media(max-width: 767px){
         left: 320px;
       }
     }
   }

   h1{
     font-size: 56px;
     line-height: 1.15;

     @media(max-width: 992px){
       font-size: 50px;
     }

     @media(max-width: 440px){
       font-size: 13vw;
     }

     span{
       display: block;
       font-family: $f-bold;
       margin-bottom: 10px;
     }
   }

   p{
     font-size: 28px;
     margin-bottom: 35px;
     width: 380px;

     @media(max-width: 992px){
       width: 100%;
       font-size: 26px;
     }

     @media(max-width: 767px){
       font-size: 24px;
     }

     @media(max-width: 440px){
       font-size: 22px;
     }
   }

   .button{
     position: relative;
     z-index: 4;

     @media(max-width: 767px){
       margin-bottom: 30px;
     }
   }

   .men-pic{
     width: 465px;
     position: relative;
     z-index: 5;

     @media(max-width: 767px){
       width: 40%;
     }

     @media(max-width: 575px){
       width: 50%;
     }

     @media(max-width: 440px){
       width: 60%;
     }
   }

 }

 /*--- advantages-numbers ---*/

 .advantages-numbers{
   background-color: $color-white;
   position: relative;
   z-index: 2;

   ul{
     border-radius: 8px;
     background-color: $color-white;
     box-shadow: 0px 4px 20px 0px rgba(146, 146, 146, 0.25);
     padding: 20px;
     margin: -60px 0 0 0;
     display: flex;
     align-items: center;
     justify-content: space-around;

     @media(max-width: 767px){
      flex-wrap: wrap;
       justify-content: center;
       gap: 30px;
     }

     li{
       list-style: none;
       width: 165px;
       align-items: center;
       color: $color-light-blue;

       span{
         display: block;
         text-align: center;
       }

       .number{
         font-size: 50px;
         font-family: $f-bold;
         line-height: 1;
         margin-bottom: 0;
       }

       .description{
         font-size: 16px;
       }

     }
   }
 }

 /*--- doctor-experience ---*/

 .doctor-experience{
   background-color: $color-white;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .text{
     margin-bottom: 45px;
   }

   .nav-tabs{
     margin: 0 0 60px 0;
     display: flex;
     justify-content: center;
     border: none;

     .nav-link{
       padding: 15px 24px 15px 24px;
       border: none;
       border-bottom: 3px solid #C6C6C6;
       transition: all 0.5s;
       font-family: $f-bold;
       color: rgba(49, 49, 49, 0.7);

       &.active{
         border-color: $color-red;
         color: $color-black;
       }
     }
   }

   .tab-pane{
     .inner{
       display: flex;
       align-items: center;
       justify-content: space-between;

       ul{
         padding: 0;
         margin: 0;
         width: 500px;

         @media(max-width: 1200px){
           width: calc(50% - 15px);
         }

         @media(max-width: 767px){
           width: 100%;
         }

         li{
           list-style: none;
           margin-bottom: 30px;
           position: relative;
           padding-left: 100px;

           @media(max-width: 767px){
             padding-left: 75px;
           }

           @media(max-width: 440px){
             padding-left: 45px;
           }

           svg{
             position: absolute;
             width: 74PX;
             height: auto;
             left: 0;
             top: 15px;

             @media(max-width: 767px){
               width: 50px;
               top: 12px;
             }

             @media(max-width: 440px){
               width: 30px;
               top: 14px;
             }
           }

           .date{
             display: block;
             font-size: 45px;
             font-family: $f-bold;
             line-height: 1;
             color: $color-blue;
             margin-bottom: 15px;

             @media(max-width: 1200px){
               font-size: 42px;
             }

             @media(max-width: 992px){
               font-size: 40px;
             }

             @media(max-width: 767px){
               font-size: 38px;
             }

             @media(max-width: 575px){
               font-size: 36px;
             }

             @media(max-width: 440px){
               font-size: 34px;
             }
           }

           .description{
             font-size: 16px;
             margin-bottom: 0;
             display: block;
           }

           &:last-child{
             margin-bottom: 0;
           }
         }
       }

       .pic-wrapper{
         width: calc(50% - 15px);
         
         @media(max-width: 767px){
          display: none;
         }

         img{
           width: 50vw;
           height: auto;
           max-width: 500%;
           border-radius: 8px 0 0 8px;
         }
       }
     }
   }
 }

 /*--- doctor-diplomas ---*/

 .doctor-diplomas{
   background-color: $color-light-blue;
   color: $color-white;
   padding-bottom: 215px;
   overflow: hidden;

   .block-title{
     margin-bottom: 60px;
   }

   .content{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 54px;

     .item{
       width: 195px;

       .pic-wrapper{
         margin-bottom: 15px;
         position: relative;

         img{
           width: 100%;
           height: auto;
           position: relative;
           z-index: 1;
         }

         .zoom{
           position: absolute;
           background-color: $color-green;
           width: 30px;
           height: 30px;
           color: #ffffff;
           text-align: center;
           line-height: 30px;
           z-index: 2;
           bottom: 0;
           right: 0;
           font-family: $f-bold;
           font-size: 24px;
         }
       }

       p{
         font-size: 12px;
         font-family: $f-med;
         line-height: 1.5;
         padding-left: 8px;
         padding-right: 8px;
         margin-bottom: 0;
         text-align: center;
       }
     }
   }
 }

 /*--- call-form ---*/

 .call-form{
   background-color: $color-white;

   .content{
     position: relative;
     margin-top: -200px;

     &:before{
       content: '';
       position: absolute;
       width: calc(100% + 20px);
       top: 50%;
       left: -10px;
       right: -10px;
       height: 245px;
       background-color: $color-white;
       box-shadow: 0px 4px 20px 0px rgba(146, 146, 146, 0.25);
       border-radius: 8px;
       transform: translateY(-50%);
       z-index: 1;

       @media(max-width: 575px){
         width: 100%;
         left: 0;
         right: 0;
       }
     }

     .inner{
       position: relative;
       z-index: 2;
       background-image: url("../img/call-form-bg.jpg");
       background-repeat: no-repeat;
       background-position: top center;
       background-size: cover;
       background-attachment: fixed;
       border-radius: 8px;
       overflow: hidden;
       padding: 45px;
       color: $color-white;

       @media(max-width: 440px){
         padding: 30px 15px;
       }

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: $color-blue;
         opacity: 0.85;
         z-index: 1;
       }

       .subtitle{
         position: relative;
         z-index: 2;
         margin-bottom: 50px;
       }

       form{
         position: relative;
         z-index: 2;
         margin-bottom: 35px;
         display: flex;
         align-items: flex-end;
         justify-content: space-between;

         @media(max-width: 992px){
           flex-wrap: wrap;
           justify-content: center;
         }

         .form-group{
           width: 200px;
           margin-bottom: 0;
           height: 100%;

           @media(max-width: 992px){
             width: 100%;
             margin-bottom: 20px;
           }

           .form-control{
             color: $color-white;
           }
         }
       }

       p{
         position: relative;
         z-index: 2;
         margin-bottom: 0;
         font-size: 14px;
         letter-spacing: 0.14px;
         text-align: center;
         line-height: 1.5;
         font-family: $f-reg;

         a{
           color: $color-white !important;
           text-decoration: underline;
           text-underline-offset: 5px;
         }
       }
     }
   }
 }

 /*--- advantages-clinic ---*/

 .advantages-clinic{
   background-color: $color-white;
   overflow: hidden;

   .block-title{
     margin-bottom: 120px;
     color: $color-blue;
   }

   .content{
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     justify-content: center;
     gap: 30px;
     margin: 0;

     @media(max-width: 1200px){
        flex-wrap: wrap;
     }
   }

   .item{
     list-style: none;
     padding: 30px 20px;
     position: relative;
     background-color: #C1E1FF;
     width: 340px;

     @media(max-width: 1200px){
       width: 100%;
       display: flex;
     }

     @media(max-width: 767px){
       flex-wrap: wrap;
       justify-content: center;
     }

     .subtitle{
       display: block;
       color: $color-light-blue;
       margin-bottom: 15px;

       @media(max-width: 767px){
         text-align: center;
       }
     }

     .number{
       position: absolute;
       font-size: 60px;
       font-family: $f-bold;
       color: rgba(193, 225, 255, 0.30);
       line-height: 1.1;
       right: 10px;
       top: 0;
       transform: translateY(-50%);

       @media(max-width: 1200px){
         top: auto;
         bottom: 0;
         transform: translateY(50%);
       }
     }

     .info{
       @media(max-width: 1200px){
         order: 2;
         width: calc(100% - 180px);
         display: block;
       }

       @media(max-width: 767px){
         width: 100%;
       }

     }

     .pic-wrapper{
       display: block;
       margin-right: 30px;

       @media(max-width: 1200px){
        order: 1;
       }

       @media(max-width: 767px){
         margin-bottom: 30px;
         margin-right: auto;
         margin-left: auto;
       }

       &.absolut{
         position: absolute;
         right: 15px;
         bottom: 0;
         transform: translateY(25%);

         @media(max-width: 1200px){
           position: relative;
           right: 0;
           transform: translateY(0);
           width: 150px;
         }

         img{
           height: 200px;
           width: auto;
           max-width: 300%;
           display: block;

           @media(max-width: 1200px){
             width: 100%;
             height: auto;
           }
         }
       }
     }

     &.center-item{
       width: 420px;
       background-color: $color-light-blue;
       color: $color-white;

       @media(max-width: 1200px){
         width: 100%;
       }

       .subtitle{
         color: $color-white;
       }

       .pic-wrapper{
         position: relative;
         display: block;
         width: 100%;
         margin-top: -115px;

         @media(max-width: 1200px){
           margin-top: 0;
           height: 200px;
           margin-right: 30px;
           width: auto;

           img{
             height: 100%;
             width: auto;
             max-width: 300%;
             display: block;
             margin-right: 30px;
           }
         }
       }

       .number{
         top: auto;
         bottom: 0;
         transform: translateY(50%);
       }
     }
   }

   .video-wrapper{
     margin-top: 130px;

     @media(max-width: 1200px){
       margin-top: 50px;
     }

     video{
       width: 100%;
       height: auto;
       border-radius: 8px;
     }
   }
 }

 /*--- our-operation ---*/

 .our-operation{
   background-color: #D8EBFF;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .content{
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     margin: 0;
     flex-wrap: wrap;
     gap: 30px;

     @media(max-width: 992px){
      justify-content: center;
     }

     li{
       list-style: none;
       display: flex;
       align-items: center;

       @media(max-width: 1200px){
         width: calc(33.33% - (30px * 2 / 3));
       }

       @media(max-width: 992px){
         width: auto;
       }

       a{
         width: 350px;

         @media(max-width: 1200px){
           width: 100%;
         }

         &.button{
           text-align: center;
         }
       }

       &.item{
         @media(max-width: 992px){
           width: calc(50% - 15px);
         }

         @media(max-width: 575px){
           width: 80%;
         }

         @media(max-width: 440px){
           width: 100%;
         }

         a{
           padding: 12px 25px;
           background-color: $color-white;
           display: flex;
           align-items: center;
           justify-content: space-between;
           color: $color-blue !important;
           font-family: $f-bold;
           height: 100%;
           font-size: 16px;
           transition: all 0.5s;

           @media(max-width: 440px){
             font-size: 14px;
           }

           span{
             width: calc(100% - 45px);
           }

           svg{
             width: 30px;
             height: auto;
             margin-left: 15px;

             path{
               transition: all 0.5s;
             }
           }

           &:hover{
             color: $color-red !important;

             svg{
               path{
                 fill: $color-red;
               }
             }
           }

         }
       }
     }
   }
 }

 /*--- our-price ---*/

 .our-price{
   background-color: #D8EBFF;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .content{
     position: relative;

     &:before{
       content: '';
       position: absolute;
       height: 3px;
       background-color: $color-red;
       width: 500px;
       bottom: 31px;
       right: 1180px;

       @media(max-width: 575px){
        display: none;
       }
     }
   }

   p{
     margin-bottom: 30px;
   }

   .button{
     position: relative;
     z-index: 2;
     pointer-events: none;
     cursor: pointer;
   }

   .pic{
     position: absolute;
     left: -520px;
     bottom: -70px;
     z-index: 1;

     @media(max-width: 1200px){
       left: -315px;
     }

     @media(max-width: 992px){
       left: -270px;
       bottom: -65px;
     }

     @media(max-width: 767px){
       width: 400px;
       left: -155px;
       bottom: -20px;
     }

     @media(max-width: 575px){
      display: none;
     }
   }

 }

 /*--- reviews ---*/

 .reviews{
   background-color: $color-light-blue;
   color: $color-white;
   overflow: hidden;

   .slider-wrapper{
     padding-left: 0;
     padding-right: 0;
   }

   .slide{
     margin: 0 15px;

     .video-wrapper{
       position: relative;
       overflow: hidden;
       width: 100%;
       border-radius: 6px;
       margin-bottom: 20px;

       video{
         position: relative;
         z-index: 1;
         width: 100%;
         height: auto;
       }

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 2;
         background: linear-gradient(359deg, #085093 0.55%, rgba(1, 74, 142, 0.00) 70.04%);
         opacity: 0.7;
       }

       .play{
         padding: 0;
         margin: 0;
         width: 38px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         z-index: 3;
         background-color: rgba(0,0,0,0);
         border: none;

         svg{
           width: 100%;
           height: auto;
         }
       }
     }

     .info{
       text-align: center;
       font-size: 16px;
       padding-left: 25px;
       padding-right: 25px;

       @media(max-width: 992px){
         padding-left: 15px;
         padding-right: 15px;
       }
     }

     .name{
       font-family: $f-bold;
       margin-bottom: 0;
     }

     .description{
       margin-bottom: 0;
     }
   }

 }

 /*--- way-treatment ---*/

 .way-treatment{
   background-color: $color-light-blue;
   color: $color-white;
   position: relative;

   .watermark{
     position: absolute;
     text-transform: uppercase;
     line-height: 1;
     bottom: -3vw;
     left: 0;
     opacity: 0.1;
     width: 100%;
     color: #ffffff;
     margin-bottom: 0;
     font-size: 13vw;
     text-align: center;

   }

   .content{
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;

     @media(max-width: 767px){
      flex-wrap: wrap;
     }

     .pic-wrapper{
       position: sticky;
       width: calc(50% - 15px);
       top: 30px;

       @media(max-width: 767px){
         width: 100%;
       }

       img{
         width: 100%;
         height: auto;
         border-radius: 8px;
       }
     }
   }

   .way-list{
     width: 540px;
     padding: 0;
     margin: 0;

     @media(max-width: 1200px){
       width: calc(50% - 15px);
     }

     @media(max-width: 767px){
       width: 100%;
       margin-bottom: 40px;
     }

     .item{
       list-style: none;
       margin-bottom: 70px;

       @media(max-width: 1200px){
         margin-bottom: 60px;
       }
       
       @media(max-width: 992px){
         margin-bottom: 50px;
       }

       @media(max-width: 767px){
         margin-bottom: 30px;
       }

       .step-name{
         font-family: $f-bold;
         font-size: 28px;
         margin-bottom: 15px;
         
         @media(max-width: 992px){
           font-size: 24px;
         }

         @media(max-width: 440px){
           font-size: 20px;
         }

         span{
           color: $color-red;
         }
       }

       .text{
         padding-left: 30px;
         border-left: 3px solid $color-white;

         @media(max-width: 992px){
           padding-left: 20px;
         }

         p{
           margin-bottom: 0;
         }

         strong{
           font-family: $f-bold;
         }
       }

       &:last-child{
         margin-bottom: 0;
       }
     }
   }
 }

 /*--- media-about-us ---*/
 .media-about-us{
   background-color: $color-white;
   color: $color-blue;

   .slider-wrapper{
     padding-left: 0;
     padding-right: 0;
   }

   .slide{
     margin: 0 15px;

     .video-wrapper{
       position: relative;
       overflow: hidden;
       width: 100%;
       border-radius: 6px;

       img{
         position: relative;
         z-index: 1;
         width: 100%;
         height: auto;
       }

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 2;
         background: $color-light-blue;
         opacity: 0.5;
       }

       .play{
         padding: 0;
         margin: 0;
         width: 38px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         z-index: 3;
         background-color: rgba(0,0,0,0);
         border: none;

         svg{
           width: 100%;
           height: auto;
         }
       }
     }
   }

   .slick-dots{

     li{
       background-color: $color-blue;
     }

   }
 }

 /*--- faq ---*/

 .faq{
   background-color: $color-white;

   .block-title{
     color: $color-blue;
   }

   .card{
     border-top: 1px solid $color-blue;
     border-radius: 0;
     border-left: none;
     border-right: none;
     border-bottom: none;

     &:last-child{
       border-bottom: 1px solid $color-blue;
     }

     .card-header{
       padding: 0;
       background-color: rgba(0,0,0,0);
       border: none;

       .card-link{
         padding-top: 33px;
         padding-bottom: 33px;
         padding-right: 50px;
         display: block;
         position: relative;
         font-size: 18px;
         color: $color-blue !important;
         font-family: $f-bold;

         @media(max-width: 767px){
           padding-top: 30px;
           padding-bottom: 30px;
           padding-right: 55px;
           font-size: 16px;
         }

         @media(max-width: 440px){
           padding-top: 20px;
           padding-bottom: 20px;
         }

         .indicator{
           position: absolute;
           width: 35px;
           height: 35px;
           top: 50%;
           right: -15px;
           transform: translateX(-50%);

           @media(max-width: 992px){
             width: 30px;
             height: 30px;
           }

           @media(max-width: 440px){
             width: 25px;
             height: 25px;
           }

           &:before,
           &:after{
             content: '';
             position: absolute;
             width: 35px;
             height: 2px;
             background-color: $color-blue;
             transform-origin: center;
             transition: all 0.5s;

             @media(max-width: 992px){
               width: 30px;
             }

             @media(max-width: 440px){
               width: 25px;

             }
           }

           &:before{
             transform: rotate(0deg);
           }
         }

         &.collapsed{
           .indicator{
             &:before{
               transform: rotate(90deg);
             }
           }

         }
       }
     }

     .card-body{
       @media(max-width: 767px){
         padding: 0 15px 15px 15px;
       }

       p{
         &:last-child{
           margin-bottom: 0;
         }
       }
     }
   }
 }

 /*---- contact-form ---*/

 .contact-form{
   position: relative;
   background-image: url("../img/contact-form-bg.jpg");
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   color: $color-white;

   &:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: $color-blue;
     opacity: 0.95;
     z-index: 1;
   }

   .container{
     position: relative;
     z-index: 2;
   }

   .subtitle{
     margin-bottom: 24px;
   }

   .content{
     display: flex;
     align-items: flex-start;
     justify-content: center;

     @media(max-width: 992px){
      flex-wrap: wrap;
     }
   }

   .pic-wrapper{
     width: 575px;
     margin: 0 15px;

     @media(max-width: 992px){
       width: 50%;
       margin: 0 auto;
       order: 2;
     }

     @media(max-width: 767px){
       width: 75%;
     }
   }

   form{
     width: 330px;
     margin: 0 15px;

     @media(max-width: 992px){
       width: 100%;
       margin: 0 auto 30px;
       order: 1;
       text-align: center;
     }

     .form-group{
       margin-bottom: 44px;

       .form-control{
         color: $color-white;
       }
     }

     .button{
       margin-bottom: 22px;
     }

     p{
       font-size: 14px;
       font-family: $f-reg;

       a{
         color: $color-white!important;
         text-decoration: underline;
         text-underline-offset: 5px;
       }
     }
   }
 }

 /*--- our-contacts ---*/

 .our-contacts{
   /*height: 650px;*/
   position: relative;

   .map-marker{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     //background-color: $color-blue;
     border: 10px solid $color-blue;
   }

   .content{
     margin-top: 150px;
     margin-bottom: 150px;
     position: relative;
     z-index: 20;

     @media(max-width: 1200px){
       margin-top: 100px;
       margin-bottom: 100px;
     }

     @media(max-width: 992px){
       margin-top: 50px;
       margin-bottom: 50px;
     }

     @media(max-width: 575px){
       margin-top: 15px;
       margin-bottom: 250px;
     }

     .inner{
       padding: 40px 25px;
       border-radius: 6px;
       background-color: #ffffff;

       @media(max-width: 575px){
         padding: 25px;
       }

       .block-title{
         color: $color-blue;
       }

       .item{
         margin-bottom: 20px;
         position: relative;
         padding-left: 30px;
         font-size: 16px;
         display: block;
         color: $color-black !important;

         svg{
           position: absolute;
           left: 0;
           top: 1px;
           width: 20px;
           height: auto;
         }
       }

       .contact-call{
         font-size: 14px;
         margin-bottom: 15px;
       }

       .mess-phone{
         display: flex;
         align-items: center;
         margin-bottom: 20px;

         .mess{
           width: 20px;
           margin-right: 12px;

           svg{
             width: 100%;
             height: auto;
           }
         }

         .phone{
           color: $color-black !important;
           font-size: 16px;
         }
       }

       .work-schedule{
         position: relative;
         padding-left: 30px;

         svg{
           width: 20px;
           height: auto;
           left: 0;
           top: 1px;
           position: absolute;
         }

         p{
           font-size: 16px;
           margin-bottom: 5px;
           opacity: 0.7;

           strong{
             font-family: $f-bold;
             color: $color-blue;
           }

           &:last-child{
             margin-bottom: 0;
           }
         }
       }
     }

   }
 }