 /*--- main-screen ---*/

 .main-screen{
   position: relative;
   padding-top: 110px;
   padding-bottom: 60px;
   background-color: $color-blue;
   color: $color-white;
   overflow: hidden;

   .bg-image{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1;
     background-position: top center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.1;
   }

   .pulse-line{
     position: absolute;
     left: 285px;
     bottom: -25px;
     z-index: 3;
     width: 255px;
     height: auto;
   }

   .container{
     position: relative;
     z-index: 4;
   }

   .content{
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;

     &:before,
     &:after{
       content: '';
       position: absolute;
       z-index: 3;
       height: 3px;
       background-color: $color-green;
       bottom: 52px;
       width: 100vw;
     }

     &:before{
       left: -1760px;
     }

     &:after{
       right: -1760px;
     }
   }

   h1{
     font-size: 56px;
     line-height: 1.15;

     span{
       display: block;
       font-family: $f-bold;
       margin-bottom: 10px;
     }
   }

   p{
     font-size: 28px;
     margin-bottom: 35px;
     width: 380px;
   }

   .men-pic{
     width: 465px;
     position: relative;
     z-index: 4;
   }

 }

 /*--- advantages-numbers ---*/

 .advantages-numbers{
   background-color: $color-white;
   position: relative;
   z-index: 2;

   ul{
     border-radius: 8px;
     background-color: $color-white;
     box-shadow: 0px 4px 20px 0px rgba(146, 146, 146, 0.25);
     padding: 20px;
     margin: -60px 0 0 0;
     display: flex;
     align-items: center;
     justify-content: space-around;

     li{
       list-style: none;
       width: 165px;
       align-items: center;
       color: $color-light-blue;

       span{
         display: block;
         text-align: center;
       }

       .number{
         font-size: 50px;
         font-family: $f-bold;
         line-height: 1;
         margin-bottom: 0;
       }

       .description{
         font-size: 16px;
       }

     }
   }
 }

 /*--- doctor-experience ---*/

 .doctor-experience{
   background-color: $color-white;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .text{
     margin-bottom: 45px;
   }

   .nav-tabs{
     margin: 0 0 60px 0;
     display: flex;
     justify-content: center;
     border: none;

     .nav-link{
       padding: 0 24px 15px 24px;
       border: none;
       border-bottom: 3px solid #C6C6C6;
       transition: all 0.5s;
       font-family: $f-bold;
       color: rgba(49, 49, 49, 0.7);

       &.active{
         border-color: $color-red;
         color: $color-black;
       }
     }
   }

   .tab-pane{
     .inner{
       display: flex;
       align-items: center;
       justify-content: space-between;

       ul{
         padding: 0;
         margin: 0;
         width: 500px;

         li{
           list-style: none;
           margin-bottom: 30px;
           position: relative;
           padding-left: 100px;

           svg{
             position: absolute;
             width: 74PX;
             height: auto;
             left: 0;
             top: 15px;
           }

           .date{
             display: block;
             font-size: 45px;
             font-family: $f-bold;
             line-height: 1;
             color: $color-blue;
             margin-bottom: 15px;
           }

           .description{
             font-size: 16px;
             margin-bottom: 0;
             display: block;
           }

           &:last-child{
             margin-bottom: 0;
           }
         }
       }

       .pic-wrapper{
         width: 50%;

         img{
           width: 50vw;
           height: auto;
           max-width: 500%;
           border-radius: 8px 0 0 8px;
         }
       }
     }
   }
 }

 /*--- doctor-diplomas ---*/

 .doctor-diplomas{
   background-color: $color-light-blue;
   color: $color-white;
   padding-bottom: 215px;
   overflow: hidden;

   .block-title{
     margin-bottom: 60px;
   }

   .content{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 54px;

     .item{
       width: 195px;

       .pic-wrapper{
         margin-bottom: 15px;

         img{
           width: 100%;
           height: auto;
         }
       }

       p{
         font-size: 12px;
         font-family: $f-med;
         line-height: 1.5;
         padding-left: 8px;
         padding-right: 8px;
         margin-bottom: 0;
         text-align: center;
       }
     }
   }
 }

 /*--- call-form ---*/

 .call-form{
   background-color: $color-white;

   .content{
     position: relative;
     margin-top: -200px;

     &:before{
       content: '';
       position: absolute;
       width: calc(100% + 20px);
       top: 50%;
       left: -10px;
       right: -10px;
       height: 245px;
       background-color: $color-white;
       box-shadow: 0px 4px 20px 0px rgba(146, 146, 146, 0.25);
       border-radius: 8px;
       transform: translateY(-50%);
       z-index: 1;
     }

     .inner{
       position: relative;
       z-index: 2;
       background-image: url("../img/call-form-bg.jpg");
       background-repeat: no-repeat;
       background-position: top center;
       background-size: cover;
       background-attachment: fixed;
       border-radius: 8px;
       overflow: hidden;
       padding: 45px;
       color: $color-white;

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: $color-blue;
         opacity: 0.85;
         z-index: 1;
       }

       .subtitle{
         position: relative;
         z-index: 2;
         margin-bottom: 50px;
       }

       form{
         position: relative;
         z-index: 2;
         margin-bottom: 35px;
         display: flex;
         align-items: flex-end;
         justify-content: space-between;

         .form-group{
           width: 200px;
           margin-bottom: 0;
           height: 100%;
         }
       }

       p{
         position: relative;
         z-index: 2;
         margin-bottom: 0;
         font-size: 14px;
         letter-spacing: 0.14px;
         text-align: center;
         line-height: 1.5;
         font-family: $f-reg;

         a{
           color: $color-white !important;
           text-decoration: underline;
         }
       }
     }
   }
 }

 /*--- advantages-clinic ---*/

 .advantages-clinic{
   background-color: $color-white;
   overflow: hidden;

   .block-title{
     margin-bottom: 120px;
     color: $color-blue;
   }

   .content{
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     justify-content: center;
     gap: 30px;
   }

   .item{
     list-style: none;
     padding: 30px 20px;
     position: relative;
     background-color: #C1E1FF;
     width: 340px;

     .subtitle{
       display: block;
       color: $color-light-blue;
       margin-bottom: 15px;
     }

     .number{
       position: absolute;
       font-size: 60px;
       font-family: $f-bold;
       color: rgba(193, 225, 255, 0.30);
       line-height: 1.1;
       right: 10px;
       top: 0;
       transform: translateY(-50%);
     }

     .pic-wrapper{

       &.absolut{
         position: absolute;
         right: 15px;
         bottom: 0;
         transform: translateY(25%);

         img{
           height: 200px;
           width: auto;
           max-width: 300%;
         }
       }
     }

     &.center-item{
       width: 420px;
       background-color: $color-light-blue;
       color: $color-white;

       .subtitle{
         color: $color-white;
       }

       .pic-wrapper{
         position: relative;
         display: block;
         width: 100%;
         margin-top: -115px;
       }

       .number{
         top: auto;
         bottom: 0;
         transform: translateY(50%);
       }
     }
   }
 }

 /*--- our-operation ---*/

 .our-operation{
   background-color: #D8EBFF;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .content{
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     margin: 0;
     flex-wrap: wrap;
     gap: 30px;

     li{
       list-style: none;

       a{
         width: 350px;

         &.button{
           text-align: center;
         }
       }

       &.item{
         a{
           padding: 12px 25px;
           background-color: $color-white;
           display: flex;
           align-items: center;
           justify-content: space-between;
           color: $color-blue !important;
           font-family: $f-bold;
           height: 100%;
           font-size: 16px;

           span{
             width: calc(100% - 45px);
           }

           svg{
             width: 30px;
             height: auto;
             margin-left: 15px;
           }

         }
       }
     }
   }
 }

 /*--- our-price ---*/

 .our-price{
   background-color: #D8EBFF;
   overflow: hidden;

   .block-title{
     color: $color-blue;
   }

   .content{
     position: relative;
   }

   p{
     margin-bottom: 30px;
   }

   .pic{
     position: absolute;
     left: -520px;
     bottom: -70px;
   }

 }

 /*--- reviews ---*/

 .reviews{
   background-color: $color-light-blue;
   color: $color-white;
   overflow: hidden;

   .slider-wrapper{
     padding-left: 0;
     padding-right: 0;
   }

   .slide{
     margin: 0 15px;

     .video-wrapper{
       position: relative;
       overflow: hidden;
       width: 100%;
       border-radius: 6px;
       margin-bottom: 20px;

       video{
         position: relative;
         z-index: 1;
         width: 100%;
         height: auto;
       }

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 2;
         background: linear-gradient(359deg, #085093 0.55%, rgba(1, 74, 142, 0.00) 70.04%);
         opacity: 0.7;
       }

       .play{
         padding: 0;
         margin: 0;
         width: 38px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         z-index: 3;
         background-color: rgba(0,0,0,0);
         border: none;

         svg{
           width: 100%;
           height: auto;
         }
       }
     }

     .info{
       text-align: center;
       font-size: 16px;
       padding-left: 25px;
       padding-right: 25px;
     }

     .name{
       font-family: $f-bold;
       margin-bottom: 0;
     }

     .description{
       margin-bottom: 0;
     }
   }

 }

 /*--- way-treatment ---*/

 .way-treatment{
   background-color: $color-light-blue;
   color: $color-white;

   .content{
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;

     .pic-wrapper{
       position: sticky;
       width: 50%;
       top: 30px;

       img{
         width: calc(50vw - 8px);
         height: auto;
         max-width: 100vw;
         border-radius: 8px 0 0 8px;
       }
     }
   }

   .way-list{
     width: 540px;
     padding: 0;
     margin: 0;

     .item{
       list-style: none;
       margin-bottom: 70px;

       .step-name{
         font-family: $f-bold;
         font-size: 28px;
         margin-bottom: 15px;

         span{
           color: $color-red;
         }
       }

       .text{
         padding-left: 30px;
         border-left: 3px solid $color-white;

         p{
           margin-bottom: 0;
         }

         strong{
           font-family: $f-bold;
         }
       }

       &:last-child{
         margin-bottom: 0;
       }
     }
   }
 }

 /*--- media-about-us ---*/
 .media-about-us{
   background-color: $color-white;
   color: $color-blue;

   .slider-wrapper{
     padding-left: 0;
     padding-right: 0;
   }

   .slide{
     margin: 0 15px;

     .video-wrapper{
       position: relative;
       overflow: hidden;
       width: 100%;
       border-radius: 6px;

       img{
         position: relative;
         z-index: 1;
         width: 100%;
         height: auto;
       }

       &:before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 2;
         background: $color-light-blue;
         opacity: 0.5;
       }

       .play{
         padding: 0;
         margin: 0;
         width: 38px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translateY(-50%) translateX(-50%);
         z-index: 3;
         background-color: rgba(0,0,0,0);
         border: none;

         svg{
           width: 100%;
           height: auto;
         }
       }
     }
   }

   .slick-dots{

     li{
       background-color: $color-blue;
     }

   }
 }

 /*--- faq ---*/

 .faq{
   background-color: $color-white;

   .block-title{
     color: $color-blue;
   }

   .card{
     border-top: 1px solid $color-blue;
     border-radius: 0;
     border-left: none;
     border-right: none;
     border-bottom: none;

     &:last-child{
       border-bottom: 1px solid $color-blue;
     }

     .card-header{
       padding: 0;
       background-color: rgba(0,0,0,0);
       border: none;

       .card-link{
         padding-top: 33px;
         padding-bottom: 33px;
         padding-right: 50px;
         display: block;
         position: relative;
         font-size: 18px;
         color: $color-blue !important;
         font-family: $f-bold;

         .indicator{
           position: absolute;
           width: 35px;
           height: 35px;
           top: 50%;
           right: 0;
           transform: translateX(-50%);

           &:before,
           &:after{
             content: '';
             position: absolute;
             width: 35px;
             height: 2px;
             background-color: $color-blue;
             transform-origin: center;
             transition: all 0.5s;
           }

           &:before{
             transform: rotate(0deg);
           }
         }

         &.collapsed{
           .indicator{
             &:before{
               transform: rotate(90deg);
             }
           }

         }
       }
     }
   }
 }