
/*--- FONTS ---*/

$f-main: "CeraPRO-Light";
$f-reg: "CeraPRO-Regular";
$f-med: "CeraPRO-Medium";
$f-bold: "CeraPRO-Bold";
$f-futura: 'FuturaPT-Bold';

/*--- COLORS ---*/

$color-light-blue: #1373CC;
$color-blue: #074584;
$color-green: #14E4BF;
$color-red: #FA453F;
$color-black: #313131;
$color-white: #FFFFFF;
